mixin field(list, customClass)
    each item in list
        .field(class=customClass ? `${customClass}` : "")
            label.field__label(for=item.for_id)=item.label
            .field__input
                input(type="text" id=item.for_id value=item.input)
