mixin radio(cls, list, customClass)
    ul(class=customClass ? `${customClass} ${cls}` : cls)

        each item in list
            li(class=`${cls}__item`)

                if item.checked
                    input(class=`${cls}__input` id=item.for_id type="radio" name="plans" checked)
                else
                    input(class=`${cls}__input` id=item.for_id type="radio" name="plans")

                label(class=`${cls}__label` for=item.for_id)=item.label
